{% extends 'base.html' %}

{% block content %}

<div align="center">
    <h1 style="color: #e3acf2; font-weight: bold;">Register New User</h1>
    <br><br>

    <form method="POST" action="">{% csrf_token %}
        {% for field in form %}
            <h4>{{ field.label }}:</h4>
            {{ field }}
            <br><br>
        {% endfor %}
        <button class="btn btn-primary" type="submit" style="background-color: #6B46C1;">Register</button>
    </form> 

</div>
    
{% endblock content %}